apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .appId }}
spec:
  template:
    spec:
      containers:
        - name: app
          env:
            - name: DOTNET_ENVIRONMENT
              value: Development
