using Dapr.Client;
using Intropy.Framework.Blocks.Shared;
using Intropy.Framework.Blocks.TransactionalIntegration.Receive;
using Intropy.Framework.Blocks.TransactionalIntegration.Receive.Steps;
using Intropy.Framework.Core.Configuration;
using Intropy.Framework.Core.Pipeline.Abstractions.Results;
using Intropy.Framework.Hosting.TransactionalIntegration.Job;

namespace {{ .name }}.Receive;

public class Enqueuer(DaprClient daprClient, TransactionalIntegrationOptions options, FrameworkOptions frameworkOptions)
    : EnqueueStep<Context>(frameworkOptions)
{
    public override async Task<(TechnicalStepResult<SourceItem> Result, Context Context)> ExecuteAsync(
        SourceItem input, ReadOnlyMemory<byte> cloudEvent, Context context, CancellationToken ct)
    {
    //TODO: Make sure dataContentType matches the actual payload.
        await daprClient.PublishByteEventAsync(
            pubsubName: options.DaprPubSubName,
            topicName: options.DaprTopicName,
            data: input.Data,
            dataContentType: "application/json",
            cancellationToken: ct);

        return (new TechnicalStepResult<SourceItem>.Success(input), context);
    }
}
