using {{ .name }}.Configuration;
using Intropy.Framework.Adapters.File;
using Intropy.Framework.Blocks.TransactionalIntegration.Receive;
using Microsoft.Extensions.DependencyInjection;

namespace {{ .name }}.Receive;

public class SourceLister([FromKeyedServices(Constants.SourceFileAdapterKey)] IFileAdapter fileAdapter)
    : ISourceLister
{
    public async Task<IReadOnlyList<SourceItemInfo>> ListItemsAsync(CancellationToken cancellationToken = new())
    {
        var files = await fileAdapter.ListAsync();
        return files
            .Select(f => new SourceItemInfo(f.FileName))
            .ToList();
    }
}
