using System.Text;
using Intropy.Framework.Adapters.File;
using Intropy.Framework.Blocks.Shared;
using Intropy.Framework.Blocks.TransactionalIntegration.Send.Steps;
using Intropy.Framework.Core.Pipeline.Abstractions.Results;

namespace {{ .name }}.Process.Steps;

public class OrderSendStep(IFileAdapter fileAdapter) : SendStep<Context>
{
    public override async Task<(BusinessStepResult<string> Result, Context Context)> ExecuteAsync(
        string input, Context context, CancellationToken ct)
    {
        var fileName = $"order-{Guid.NewGuid():N}.json";
        await fileAdapter.WriteAsync(fileName, input, Encoding.UTF8);
        return (new BusinessStepResult<string>.Success(fileName), context);
    }
}
