using System.Text.Json;
using {{ .name }}.Model;
using Intropy.Framework.Blocks.Shared;
using Intropy.Framework.Blocks.TransactionalIntegration.Send.Steps;
using Intropy.Framework.Core.Pipeline.Abstractions.Results;

namespace {{ .name }}.Process.Steps;

public class OrderSerializeStep : SerializeStep<OrderOut, Context>
{
    public override Task<(TechnicalStepResult<string> Result, Context Context)> ExecuteAsync(
        OrderOut input, Context context, CancellationToken ct)
    {
        var json = JsonSerializer.Serialize(input);
        return Task.FromResult<(TechnicalStepResult<string>, Context)>(
            (new TechnicalStepResult<string>.Success(json), context));
    }
}
