using System.Text.Json;
using {{ .name }}.Configuration;
using {{ .name }}.Model;
using Intropy.Framework.Blocks.Shared;
using Intropy.Framework.Blocks.TransactionalIntegration.Send.Steps;
using Intropy.Framework.Core.Pipeline.Abstractions.Results;

namespace {{ .name }}.Send;

public class Deserializer : DeserializeStep<In, Context>
{
    public override Task<(BusinessStepResult<In> Result, Context Context)> ExecuteAsync(
        ReadOnlyMemory<byte> input, Context context, CancellationToken ct)
    {
{{- if .empty }}
        throw new NotImplementedException();
{{- else }}
        var order = JsonSerializer.Deserialize<In>(input.Span,
            new JsonSerializerOptions { PropertyNameCaseInsensitive = true })!;

        context.Metadata[Constants.ContextKeyOrderId] = order.OrderId;
        // Impure values originate here and travel via context; later steps stay pure.
        context.Metadata[Constants.ContextKeyProcessedAt] = DateTimeOffset.UtcNow.ToString("O");

        return Task.FromResult<(BusinessStepResult<In>, Context)>(
            (new BusinessStepResult<In>.Success(order), context));
{{- end }}
    }
}
